<div class="container">
	<seafish-secondary-nav slug="training-onshore"></seafish-secondary-nav>
	<seafish-intro5050></seafish-intro5050>
	<seafish-thirds-banner></seafish-thirds-banner>
	
	<div class="row page-block">
		<div class="col-md-7 col-sm-12  col-xs-12">
			<seafish-link-dropdown-left></seafish-link-dropdown-left>
		</div>
		<div class="col-md-5 col-sm-12  col-xs-12">
			<seafish-link-dropdown background="grey"></seafish-link-dropdown>
		</div>  
	</div>	

	<div class="row page-block">
		<div class="col-md-6 col-sm-12  col-xs-12">
			<seafish-sidemenu></seafish-sidemenu>
		</div>
		<div class="col-md-6 col-sm-12  col-xs-12">
			<seafish-news-single></seafish-news-single>
		</div>  
	</div>	

	<div class="row page-block" style="margin-left: 30px"><seafish-content-toggles></seafish-content-toggles></div>

</div>
<seafish-temp-footer></seafish-temp-footer>