<footer>
	<div class="container-fluid">
		<div class='row first' >
					<div class="col-md-12  col-lg-8 px-sm-0">
						<ul class="footer-nav-list">
							<li><a href="/article/Accessibility">Accessibility</a></li>
							<li><a href="/article/privacy-policy">Privacy Policy</a></li>
							<li><a href="/article/freedom-of-information">Freedom of information</a></li>
							<li><a href="/article/terms-conditions">Terms & Conditions</a></li>
							<li><a href="/article/cookie-information">How we use cookies</a></li>
							<li><a href="/article/complaints">Complaints</a></li>
						</ul>
					</div>
				</div>
				<div class='row second'>
					<div class="col-sm-4 col-md-4 px-lg-0">
						<div class="footer-bottom-heading">
							<h5>© Seafish 2018</h5>
						</div>
					</div>
					<div class="col-sm-6" *ngIf="!cookieConsent">
						<div class="footer-bottom-cookies">
							<p>The website uses cookies . Some are used for statistical purposes and others are set up by third party services. By clicking 'OK' , you accept the use of cookies</p>
						</div>
					</div>
					<div class="col-sm-2" *ngIf="!cookieConsent">
						<div class="footer-bottom-cookies-button">
							<a (click)="cc()" class="btn btn-primary btn-new pull-right mr-5 mb-1">OK</a>
						</div>
					</div>
		</div>
	</div>
	
</footer>