<div class="container">
	<seafish-secondary-nav slug="rfs-home"></seafish-secondary-nav>
	<seafish-intro5050></seafish-intro5050>
	<seafish-rfs-quicksearch></seafish-rfs-quicksearch>
	

	<div class="row page-block">
		<div class="col-md-8">
			<seafish-sidemenu></seafish-sidemenu>
		</div>
		<div class="col-md-4">
			<seafish-news-single cat="24"></seafish-news-single>
		</div>		
	</div>

		<seafish-video-banner-two-up></seafish-video-banner-two-up>


	<seafish-banner5050-five-up></seafish-banner5050-five-up>

	<div class="row page-block">
		<div class="col-sm-12" style="padding-left: 30px; padding-right: 30px;">
			<img class='full-width' [src]="apiBase+'file/1868'" />
		</div>
	</div>
</div>
<seafish-publications-footer></seafish-publications-footer>