<div class="content container">
		<div *ngIf="data">
			<div class="secondary-nav">
				<seafish-secondary-nav [id]="data.id"></seafish-secondary-nav>
			</div>
			<div class="row">
				<div class="col-md-2 d-none d-md-block pl-xl-0 px-md-0 px-lg-0 pr-xl-1">
					<div class="left-outer">
						<div class="grad-blue-box">
							<div class='side-shape grad-blue left'></div>
						</div>
					</div>						
				</div>
				<div class="col-md-10 col-sm-12 row">
					<div class="col-md-8 col-sm-8 pl-sm-4 left-panel">
						<div class="col-md-12 col-sm-12 left-outer2" >
							<div class="featured-img-box">
								<div *ngIf="data.featured_img" class='image featured-img side-clip' [ngStyle]="{'background-image': 'url(' + featuredImgUrl + ')'}"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<h2 *ngIf="!data.title"><i>Sorry, this content is no longer avaiable.</i></h2>
								<h1 class='content-header main-blue'>{{data.title}}</h1>
								<!--<h2 class='updated-date'>Last updated: {{data.created_at | date:'fullDate'}}</h2>-->
								<div class='content-lead main-blue' [innerHTML]="data.lead"></div>
								<figure class="figure inline-image" *ngIf="data.inline_img">
									<img *ngIf="inlineImgUrl" [src]="inlineImgUrl" class="figure-img" [alt]="data.inline_caption">
									<figcaption *ngIf="data.inline_caption" class="figure-caption text-center">{{data.inline_caption}}</figcaption>
								</figure>
								
								<div *ngIf="data.body" class='content-body body-color' [innerHTML]="data.body"></div>
								
								<div *ngIf="data.documents && data.documents.length && data.documents.length>5">
									<h2><i class="icon-download"></i>Downloads</h2>
									<ul>
										<li *ngFor="let doc of data.documents">
											<a target="_blank" [href]="api_base+'file/'+doc.id">{{doc.title}}</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<section id='section2' class="row">
							<div class="col-sm-12">
								<div *ngFor="let toggle of data.toggles" class='outline-button' style='margin-bottom: 8px;' (click)="expand(toggle)">
										<h1>
											{{toggle.title}}
											<span>+</span>
										</h1>
										<p *ngIf="expanded(toggle)" [innerHTML]="toggle.text"></p>
								</div>
								<div class='row page-block' *ngIf="data.gallery && data.gallery.length">
									<div class='col-sm-10'><h5>More Images:</h5></div>
									<br />
									<div class='col-sm-2 col-6 more-thumbs' *ngFor="let imgID of data.gallery" style='margin-left:11px; padding:0;'>
										<img [src]="api_base+'file/'+imgID" class='full-width img-thumbnail' (click)="showImage(imgID)" />
									</div>
								</div>
							</div>
						</section>

						<div *ngIf="data.video_gallery_urls && data.video_gallery_urls.length">
							<h3>Related Videos</h3>
							<div *ngFor="let url of data.video_gallery_urls">
                        		<iframe width="450" height="300" [src]="url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	                        </div>
	                    </div>
					</div>

					<div class="col-md-4 col-sm-4 col-xl-4 sidebar-box">
						<img src="/assets/img/shoal.svg" width="100%">
						<div *ngIf="data.sidebars && data.sidebars.length">
							<div *ngFor="let sidebar of data.sidebars">
								<div *ngIf="sidebar.text"  class='sidebar'>
									<h2 class='sidebar-first'>
										<img *ngIf="sidebar.title != 'Spokesperson'" width="25px" src="assets/img/{{icons[sidebar.title]}}" />
										{{sidebar.title}}
									</h2>
									<div *ngIf="sidebar.title != 'Spokesperson'" [innerHTML]="sidebar.text"></div>
									<div *ngIf="sidebar.title == 'Spokesperson' && data.person">
										<img [src]="api_base + 'file/' + data.person.photo" class='full-width' />
										<strong class="main-blue">{{data.person.first_name}} {{data.person.last_name}}</strong><br />
										<span class="role body-color" *ngIf="data.person.role">{{data.person.role}}</span><br />
										<div *ngIf="data.person.phone1 && data.person.phone1.length" class="phone body-color">T: <a href="tel:{{data.person.phone1}}">{{data.person.phone1}}</a></div>
										<div *ngIf="data.person.phone2 && data.person.phone2.length" class="phone body-color">M: <a href="tel:{{data.person.phone2}}">{{data.person.phone2}}</a></div>
										<a *ngIf="data.person.email && data.person.email.length" href="mailto:{{data.person.email}}">{{data.person.email}}</a><br />
										<a class="main-blue" *ngIf="data.person.linkedin" href="http://linkedin/in/{{data.person.linkedin}}" target="_blank"><i class="icon-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>					
						<br />
						<div *ngIf="data.documents && data.documents.length && data.documents.length<6">
							<h2 class='sidebar-first'><i class="icon-download"></i>&nbsp;&nbsp;Downloads</h2>
							<ul class='links'>
								<li *ngFor="let doc of data.documents">
									<a target="_blank" [href]="api_base+'publications/dl/'+doc.id">{{doc.title}}</a>									
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>	
	</div>
	<seafish-temp-footer></seafish-temp-footer>
	
	<div class="modal" tabindex="-1" role="dialog" id="image">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
							</button>
						</div>
				<div class="modal-body">
					<img [src]="modalImage" *ngIf="modalImage" class='full-width' />
				</div>
			</div>
		</div>
	</div>