<!-- <div class="outer" *ngIf="data">
	<div class="row">
		<div class="col-sm-12">
			<h1 class='highlight'>{{data.header}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h2 class='highlight'>{{data.title1}}</h2>
			<p class='highlight'>{{data.body1}}</p>
		</div>
		<div class="col-sm-6">
			<h2 class='highlight'>{{data.title2}}</h2>
			<p class='highlight'>{{data.body2}}</p>
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-orange">{{data.buttonText}}</button>
		</div>
	</div>
</div> -->


<div class="row border-bottom-blue" style="height: 100%;">
		<!-- <div class="col-md-1 col-sm-12 twoUp-main-rotate" >
		</div> -->
		<div class="col-md-12 col-sm-12 ">
			<div class="outer " *ngIf="data">
				<div class="">
					<div class="row p-14">
						<div class="col-sm-12">
							<h1 class='highlight '>{{data.header}}</h1>
						</div>
					</div>
					<div class="row pl-14">
						<div class="col-sm-6">
							<h3 class='highlight'>{{data.title1}}</h3>
							<p class='highlight'>{{data.body1}}</p>
						</div>
						<div class="col-sm-6">
							<h3 class='highlight'>{{data.title2}}</h3>
							<p class='highlight'>{{data.body2}}</p>
						</div>  
					</div>
					<div class="row p-14">
						<div class="col-sm-10 ">
							<element-button #linkButton buttonClass="orange"></element-button>
						</div>
					</div>
				</div> 
			</div>
	   </div>
	   <hr/>
	</div>