<div class="container">
	
	<seafish-secondary-nav slug="aquaculture-home"></seafish-secondary-nav>
	<seafish-intro5050></seafish-intro5050>
	<seafish-thirds-banner></seafish-thirds-banner>
	
	<div class="row page-block">
		<div class="col-sm-12 col-md-8">
			<seafish-sidemenu></seafish-sidemenu>
		</div>
		<div class="col-sm-12 col-md-4">
			<seafish-link-dropdown background="grey"></seafish-link-dropdown>
		</div>	
	</div>
	<seafish-featured-items></seafish-featured-items>
	<div class="row page-block">
		<div class="col-sm-12" style="margin-left: 30px; margin-right: 30px;">
		<seafish-content-toggles></seafish-content-toggles>
	</div>
	</div>

</div>

<seafish-comm50update50></seafish-comm50update50>