<div class="container">
	<seafish-secondary-nav slug="about"></seafish-secondary-nav>
	<seafish-intro5050></seafish-intro5050>
	<seafish-thirds-banner></seafish-thirds-banner>
	<seafish-sidemenu50-dropdownlink50></seafish-sidemenu50-dropdownlink50>
 
	<div class="row page-block">
		<div class="col-md-6 col-sm-12  col-xs-12" style="padding-left:50px">
			<seafish-content-toggles></seafish-content-toggles>
		</div>
		<div class="col-md-6 col-sm-12  col-xs-12">
			<seafish-link-list background="grey"></seafish-link-list>
		</div>  
	</div>

	<seafish-news34event14 firstCol='2'></seafish-news34event14>
</div>
<seafish-temp-footer></seafish-temp-footer>