<div class="container">
	<seafish-secondary-nav slug="media-room"></seafish-secondary-nav>
	<seafish-intro5050></seafish-intro5050>
	<div class='row page-block'>
		<div class='col-sm-6' style="margin-left:-130px">
			<seafish-link-list></seafish-link-list>
		</div>
		<div class='col-sm-6' style="margin-left: 130px">
			<seafish-link-dropdown background='grey'></seafish-link-dropdown>
		</div>
	</div>
	
	<div class='row page-block'>
		<div class='col-sm-6' style="overflow: hidden;">
			<seafish-threeup50></seafish-threeup50>
		</div>
		<div class='col-sm-6'>
			<seafish-two-people></seafish-two-people>
		</div>
	</div>

	<seafish-video-banner></seafish-video-banner>
</div>
<seafish-temp-footer></seafish-temp-footer>