<div class="container">
	<seafish-secondary-nav slug="regulation"></seafish-secondary-nav>
	<seafish-intro5050></seafish-intro5050>
	<div class="row page-block ">
		<div class=" col-md-12 col-lg-8 longheight">
			<seafish-sidemenu></seafish-sidemenu>
		</div>
		<div class=" col-md-12 col-lg-4 longheight">
			<seafish-link-dropdown background="dark-grey"></seafish-link-dropdown>

		</div>	
	</div>
	<div class="row page-block" style="padding-left: 50px;"> 
		<div class="col-sm-12 col-md-6">
			<seafish-content-toggles></seafish-content-toggles>
		</div>
		<div class="col-sm-12 col-md-6">
			<seafish-link-list></seafish-link-list>
		</div>		
	</div>	
	<!--<seafish-news-summary></seafish-news-summary>-->
	<seafish-news34event14></seafish-news34event14>

</div>
<seafish-temp-footer></seafish-temp-footer>