.event {
	margin-top: 10px;
}

.title {
	font-weight: 700;
	font-size: 22px;
	font-family: "roboto-slab";	
}

* {
	font-family: "roboto-slab";	font-family: "roboto-slab";	
}

.date {
	color: #0077c8;
	font-weight: 700;
}