<div class="container">
	<seafish-secondary-nav slug="fish-chip-awards"></seafish-secondary-nav>
	<!--<seafish-hero></seafish-hero>-->
	<seafish-intro5050></seafish-intro5050>
	<seafish-thirds-banner></seafish-thirds-banner>
	<div class="row page-block ">
		<div class=" col-md-12 col-lg-8 longheight">
			<seafish-sidemenu></seafish-sidemenu>
		</div>
		<div class=" col-md-12 col-lg-4 longheight">
			<seafish-link-dropdown background="grey"></seafish-link-dropdown>
		</div>	
	</div>
	<div class="row page-block" style="padding-left:50px;"><seafish-content-toggles></seafish-content-toggles></div>
</div>
<seafish-temp-footer></seafish-temp-footer>