<div class="rotate-main-div">
   <div class="comm content rotate-child-div">
       <div class="row">
         <div class="col-md-12 col-sm-12  col-xs-12">
            <h1 class="pull-left highlight">Tenders</h1>
         </div>
         <div class="col-md-12 col-sm-12  col-xs-12">
            <div class="heading-details">
              <h5 class="font-blue">In this section we will display any invitation to tender that Seafish has issued.</h5>
              <h5 class="font-gray">Please download the relevant tender document below and contact the person detailed in the invitation.</h5>
            </div>
            <ul class="faq-ul">
              <li class="faq-li">
                 <a href="#demo"  data-toggle="collapse">Developing an assurance scheme for shellfish and human health (DASSHH)</a>
                 <div id="demo" class="collapse font-gray">
                     Developing an assurance scheme for shellfish and human health (DASSHH)
                     Developing an assurance scheme for shellfish and human health (DASSHH)
                   </div>
                </li>
                <li class="faq-li">
                   <a href="#demo2"  data-toggle="collapse">Kingfisher Offshore Hazard News Tender </a>
                   <div id="demo2" class="collapse font-gray">
                       Kingfisher Offshore Hazard News Tender
                       Kingfisher Offshore Hazard News Tender
                     </div>
                  </li>
                  <li class="faq-li">
                     <a href="#demo3"  data-toggle="collapse">Kingfisher Offshore Hazard News Requirement Document  </a>
                     <div id="demo3" class="collapse font-gray">
                         Kingfisher Offshore Hazard News Requirement Document 
                         Kingfisher Offshore Hazard News Requirement Document 
                       </div>
                    </li>
              
            </ul>
            

         </div> 
       </div>
   </div>
</div>  