li a {
	color: white;

}

.grey {
	background-color: #707372;
}

.grey h1 {
	color: white;
}

.white-font{
	color: #fff;
}

.icon-arrow{
	margin-top: 7px;
	float: right;
 }

.aleft {
	text-align: left !important;
}

 ul {
	 list-style-type: disc;
	 margin-left: 0px;
 }

 li a{
	 position: relative;
 }

@media(min-width:768px){
    .rotate-10{
        transform: skewX(-10deg) translateX(75px);
        -webkit-transform: skewX(-10deg) translateX(75px);
        overflow: hidden;
        margin-left:0px;
    }

    .rotate-10.left {
    	width: ;
    	margin-left: -130px;
    }
    
    .rotate-10 >* {
        transform: skewX(10deg) translate(-75px);
        -webkit-transform: skewX(10deg) translateX(-75px);
        overflow: hidden;
        height: 100%;
	}

	.text-left {
		text-align: left!important;
		margin-left: 100px;
		width: 80%;
		padding:50px;
	}

	.icon-arrow{
		margin-top: 5px;
		float:right;
		
	 }
	
}