.page-block {
	height: 280px;
}

.content {
	min-height : 280px;
	padding: 50px;	
	font-family: roboto-slab;
}

.comm {
	background: #555354;
	color: white;

}

h1 {
	color: white;
	font-family: roboto-slab;
	font-weight: normal;
	font-size: 30px;
	margin-bottom: 20px;
}

h2 {
	color: white;
	font-family: roboto-slab;
	font-weight: 300;
	font-size: 1.3em;
	opacity: .9;

}
h2 strong{
	opacity: 1;
}

button {
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}

.pad {
	padding: 10px;
}
.pad input{
	box-shadow: inset 0 0 9px 6px rgba(0,0,0,.075);
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 20px;
}
.pad button.btn {
    padding: 12px 25px;
}

/* .publications {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.publications img {
    max-width: 20%;
    margin: 5px 5px;
	max-height: 115px;
	width: 100%;
	height: 100%;
} */

.publications {
    width: 100%;
    height: 100%;
}
.publications img{
	height: 100px;
	margin: 5px;
}