<div class="container-fluid">
	<div class="row update">
	<div class="col-md-6 col-sm-12  col-xs-12 rotate-main-div">
		<div class="comm content rotate-child-div">
				<div class="row">
				  <div class="col-md-12 col-sm-12  col-xs-12">
					<h1 class="pull-left">We Like to Communicate</h1>
				  </div>
				  <div class="col-md-12 col-sm-12  col-xs-12">
					<a [routerLink]="['/publications']" class='btn btn-primary pull-left'>Read our latest Publications <span class='pl-70'><i class="icon-arrow"></i></span></a>
				  </div> 
				</div>
			<div class="row mt-25">
				<div class="col-sm-4 col-xs-12 t-l">
					Access the lastest seafood industry reports, surveys and other publications.
				</div>
				<div class="col-sm-3 col-xs-6 my-auto"> 
				</div>				
				<div class="col-sm-3 col-xs-6 my-auto">
				</div>				
			</div>
		</div>
	</div>
	<div class="col-sm-6 ">
		<div class="content">
			<h1>Get the Latest Updates</h1>
			<a [routerLink]="['/newsletters']" class='btn btn-warning'>Sign up for our Newsletters <span class='pl-35'><i class="icon-warning-right-arrow"></i></span></a>
			<br /><br />
			<div class="row">			
				<div class="col-sm-12 col-xs-12 mt-25-x">
						<h5>Don't miss a moment</h5>
				</div>
				<div class="col-sm-12 col-xs-12 mt-25-x social">
					<a href="https://www.linkedin.com/company/sea-fish-industry-authority"><img src="/assets/img/icon_linkedin_white.svg" width="40px" target="_blank"/></a>
					<a href="https://twitter.com/seafishuk" target="_blank"><img src="/assets/img/icon_twitter.svg" width="40px" /></a>
					<a href="https://www.youtube.com/user/SeafishTheAuthority" target="_blank"><img src="/assets/img/yt_logo_mono_dark.svg" width="130px"/></a>
				</div>
			</div>
	</div>
</div>
