<div class="container-fluid">
	<div class="row update">
		<div class="col-md-6 col-sm-12  col-xs-12 rotate-main-div">
			<div class="comm content rotate-child-div">
				<div class="row">
					<div class="col-md-12 col-sm-12  col-xs-12">
						<h1>Get the Latest Updates</h1>
						<a [routerLink]="['/newsletter']" class='btn btn-warning'>Sign up for our Newsletters <span class='pl-35'><i class="icon-warning-right-arrow"></i></span></a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6 ">
			<div class="content-right">
				<div class="row">			
					<div class="col-sm-12 col-xs-12 mt-25-x">
						<h1 class="heading">Don't miss a moment</h1>
					</div>
					<div class="col-sm-12 col-xs-12 mt-25-x social">
						<a target="_blank" href="https://www.linkedin.com/company/sea-fish-industry-authority"><img src="/assets/img/icon_linkedin_white.svg" width="40px" target="_blank"/></a>
						<a target="_blank" href="https://twitter.com/seafishuk"><img src="/assets/img/icon_twitter.svg" width="40px" target="_blank"/></a>
						<a target="_blank" href="https://www.youtube.com/user/SeafishTheAuthority"><img src="/assets/img/yt_logo_mono_dark.svg" width="130px" target="_blank"/></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>