<table style='width: 100%;'>
	<tr>
		<td style='width: 40%'><strong>{{species}}</strong></td>
		<td style='width: 30%'>
			<div *ngIf="score==1">&#9679;&nbsp;&#9675;&nbsp;&#9675;&nbsp;&#9675;&nbsp;&#9675;</div>
			<div *ngIf="score==2">&#9679;&nbsp;&#9679;&nbsp;&#9675;&nbsp;&#9675;&nbsp;&#9675;</div>
			<div *ngIf="score==3">&#9679;&nbsp;&#9679;&nbsp;&#9679;&nbsp;&#9675;&nbsp;&#9675;</div>
			<div *ngIf="score==4">&#9679;&nbsp;&#9679;&nbsp;&#9679;&nbsp;&#9679;&nbsp;&#9675;</div>
			<div *ngIf="score==5">&#9679;&nbsp;&#9679;&nbsp;&#9679;&nbsp;&#9679;&nbsp;&#9679;</div>
		</td>
		<td style='width: 30%'>{{rating[score]}}</td>
	</tr>
</table>

