<div class="row page-block">

	<div class="col-sm-3">
			<div class="grad-blue-box">
				<div class="grad-blue vessel">
					<h1>Aquaculture Profiles</h1>
				</div>
			</div>
	</div>

	<div class="col-sm-9" style="margin-left: -50px;">
		<div class="row">
			<div class="col-sm-4" *ngFor="let item of items">
				<div class='grad-blue'>
					<div class='img' [ngStyle]="{'background-image': 'url(' + apiBase + 'file/' + item.featured_img + ')'}"></div>
					<h1 [innerHTML]="item.title"></h1>
					<div class='latin'>{{item.latin}}</div>
					<a [routerLink]="['/aquaculture/profile/' + item.id]" class='btn btn-warning btn-light'>Profile</a>
				</div>
			</div>
		</div>
	</div>

</div>