<div class="container">	
	<seafish-secondary-nav slug="gear-home"></seafish-secondary-nav>
	<seafish-intro5050></seafish-intro5050>
	<seafish-gear-search (triggerSearch)="doSearch($event)"></seafish-gear-search>	
	<div class="row page-block" style="padding-left: 50px">
		<div class="col-sm-6">
			<seafish-content-toggles></seafish-content-toggles>
		</div>
		<div class="col-sm-6" style="padding-left:100px">
			<seafish-link-dropdown background="grey"></seafish-link-dropdown>
		</div>
	</div>

</div>

<seafish-publications-footer></seafish-publications-footer>